*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    scroll-behavior: smooth;
}

body{
  overflow-x: hidden;
  overflow-y: auto;
  overflow: hidden;
}

i{
    cursor: pointer;
}

.wrapper{
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
}

section, main{
    scroll-snap-align: start;
}

.navBar{
    position: fixed;
    z-index: 100;
    backdrop-filter: blur(5px);
    background-color: #6c6c6c23;
    width: 100vw;
    padding: 1rem;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.3s;
}

.logo{
    user-select: none;
}

.anchor{
    display: flex;
    gap: 1rem;
}

.anchor a:hover{
    color: #408fd4;
    filter: drop-shadow(0 0 15px #cfe9ff);
}

a{
    color: white;
    text-decoration: none;
    transition: 0.3s;
    outline: none;
}

.ask button{
    border: none;
    background-color: transparent;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
    margin-right: 1rem;
}

#Home{
    position: relative;
}

.Nama{
    height: 100vh;
    display: flex;
    flex-direction: column-reverse;
    background: linear-gradient(rgb(0, 43, 108) 10%, black 80%);
    color: white;
    padding: 5rem;
    position: relative;
    transition: 0.3s;
}

.Light.Nama{
    background: linear-gradient(rgb(0, 102, 254) 10%, rgb(255, 255, 255) 80%);
    color: black;
}

.modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.482);
    backdrop-filter: blur(3px);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 100;
    padding: 1rem;
    animation: fadeIn 0.3s ease-in;
}

.modal-content{
    position: relative;
    background-color: white;
    padding: 2rem;
    border-radius: 10px;
    width: 800px;
    box-shadow: 0 0 15px #ccc;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    animation: Throw 1s ease-in-out;
}

.close{
    cursor: pointer;
    top: 0;
    left: 95%;
    position: absolute;
    font-size: 2.5rem;
    border: none;
    outline: none;
    background-color: transparent;
}

.atas{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.bawah{
    display: flex;
    gap: 1rem;
}

.details{
    display: flex;
    flex-direction: column;
    background-color: rgb(234, 234, 234);
    padding: 1.5rem;
    border-radius: 10px;
    overflow: auto;
    transition: 0.3s;
}

.details:hover{
    box-shadow: 0 10px 15px #ccc;
}

.profile{
    background-color: rgb(178, 178, 178);
    padding: .5rem;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    overflow: hidden;
    transition: ease-in-out 0.3s;
}

.profile:hover{
    background-color: rgb(150, 150, 150);
    box-shadow: 0 10px 15px #ccc;
    transform: scale(1.1);
}

.profile img{
    width: 100%;
    height: 130%;
    object-fit: cover;
    transition: ease-in-out 1s;
}

.profile img:hover{
    height: 150%;
    width: 105%;
}

@keyframes fadeIn {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    } 
}

@keyframes Throw {
    0%{
        transform: translateY(200%);
    }
    70%{
        transform: translateY(-10%);
    }
    100%{
        transform: translateY(0);
    }
}

.kiri{
    position: absolute;
    display: flex;
    justify-content: center;
    gap: 1rem;
    background-color: rgb(255, 255, 255);
    color: black;
    padding: .5rem;
    backdrop-filter: blur(10px);
    border-radius: 30px 0px 35px 30px;
    width: 250px;
    font-size: 2rem;
    top:69%;
    left:45%;
    transform: translate(-71.8%, -45%);
    z-index: 20;
    transition: 0.3s;
    transform-origin: center;
}

.Light .kiri{
   box-shadow: 0 0 15px #ccc;
}

.kiri:hover{
    transform: scale(1.1) translate(-71.8%, -45%);
    box-shadow: 0px 0px 10px rgb(191, 191, 191);
}

.foto img{
    width: 120%;
    height: 120%;
}

.kanan{
    position: absolute;
    display: flex;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -45%);
    color:white;
    z-index: 2;
    transition: all 0.3s;
    width: 100%;
    justify-content: center;
    transition: 0.3s;
    flex-wrap: wrap;
}

.kanan h1{
   
    background-image: linear-gradient(to top, #005690 0%, #0099ff 50% ,  #00b3ff 100%);
    background-clip: text;
    color: transparent;
    letter-spacing: -1rem;
    user-select: none;
    font-size: 20rem;
    text-align: center;
}

.Light .kanan h1{
    background-image: linear-gradient(to top, #001556  0%, #0085f9 50%);
    background-clip: text;
    color: transparent;
}

.kanan:hover{
    filter: drop-shadow(0 0 15px #408fd4);
}

.Light.kanan:hover{
    filter: drop-shadow(0 0 15px #6493ff);
}

.alt{
    display: none;
}

.Skills{
    height: 100vh;
    display: flex;
    background-color: black;
    flex-direction: column;
    color: white;
    gap: 2rem;
    padding:1rem;
    justify-content: center;
    align-items: center;
   
}

.Light.Skills{
    background-color: white;
    color: black;
}

.title h1{
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 1.8rem;
}

.title{
    position: relative;
}

.grid{
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    justify-content: center;
    flex-wrap: wrap;
}

.card{
    width: 400px;
    height: 250px;
    background:linear-gradient(to bottom, #111, #333);
    border-radius: 1.5rem;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    transition: 0.3s;
    padding: 2rem;
    position: relative;
    color: white;
}

.card:hover{
   width: 430px;
   height: 280px;
    box-shadow: 0 0 15px rgb(191, 191, 191);
}

.card:nth-child(1){
    transform: translate(3rem,10rem) rotate(-5deg);
    z-index: 1;
}

.card:nth-child(2){
    z-index: 0;
}

.card:nth-child(3){
z-index: 1;
    transform: translate(-3rem,10rem) rotate(5deg);
}

.card:nth-child(4){
z-index: 2;
} 

.Light .card{
    
    background:linear-gradient(to top, rgb(227, 227, 227), rgb(185, 185, 185));;
}

.language{
    width: 150px;
    height: 150px;
}

.language img{
    width: 100%;
    height: 100%;
}

.pop{
    position: absolute;
    top: 0vh;
    opacity: 0;
    transition: 0.3s;
    color: white;
}

.Light .pop{
    color: black;
}

.card:hover .pop{
    top: -5vh;
    opacity: 1;
}

.Projects{
    height: 100%;
    display: flex;
    flex-direction: column;
    color: white;
    padding: 10rem;
    position: relative;
    background-color: black;
    justify-content: center;
    align-items: center;
    gap: 2rem;
   
}

.Light.Projects{
    background-color: white;
}

.window{
    border-radius: 1rem;
    border: 3px solid white;
    background-image: url('./photo/coding.jpg');
    background-position: center;
    background-size: cover;
}

.Light .window{
    border: 5px solid rgb(233, 233, 233);
}

.window-header{
    border-radius: .8rem .8rem 0 0;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    padding: 1rem;
    backdrop-filter: blur(100px);
    border-bottom: 5px solid rgb(233, 233, 233);
}

.Light .window-header{
    border-bottom: 5px solid rgb(233, 233, 233);
}

.window-body{
    backdrop-filter: blur(5px);
    padding: 2rem;
}

.window-footer{
    background-color: transparent;
    backdrop-filter: blur(100px);
    border-top: 5px solid white;
    height: 5rem;
    border-radius: 0 0 .8rem .8rem;
}

.Light .window-footer{
    border-top: 5px solid rgb(233, 233, 233);
}

.Light .secTitle{
    color: black;
}

.secTitle{
    color: white;
    font-size: 2.5rem;
    text-align: center;
}

.container{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 2rem;
   padding: 1rem;
}

.card1{
    width: 250px;
    height: 300px;
    background:linear-gradient(to bottom, #111, #333);
    border-radius: 1rem;
    padding: 1rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex-basis: 0;
    flex-grow: 1;
    transition: 0.3s;
}

.card1:nth-child(odd):hover{
    box-shadow: 0 0 10px white;
    transform: rotate(-5deg);
}
.card1:nth-child(even):hover{
    box-shadow: 0 0 10px white;
    transform: rotate(5deg);
}

.image{
    background-color: transparent;
    width: 200px;
    height: 180px;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    overflow: hidden;
    padding: .5rem;
}

.image img{
    width: 200%;
    height: 100%;
   
}


.detail{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.lang{
    display: flex;
    overflow-x: auto;
}

.contacts{
    height: 100vh;
    display: flex;
    background: linear-gradient(black  10%, rgb(0, 43, 108) 80%);
    color: black;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.AskPhoto{
    width: 300px;
    height: 300px;
   
}

.AskPhoto img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.Light.contacts{
    background: linear-gradient(to top, rgb(0, 102, 254) 10%, rgb(255, 255, 255) 80%);
    
}

.containers{
    background-color: white;
    width: 700px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 3rem;
    transition: 0.3s;
    gap: 1rem;
}

.Light .containers{
    background-color: #ffffff;
    border: 5px solid #ccc;
}

form{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    transition: 0.3s;
}

.containers input, textarea {
    border-radius: 10px;
    width: 100%;
    padding: 1rem 1rem;
    background-color: #e7e7e7;
    border: none;
    outline: none;
    transition: 0.3s;
    resize: none;
}

.send button{
    margin-top: 10px;
    padding: 1rem 1.5rem;
    border-radius: 10px;
    border: none;
    box-shadow: 0 7px 0 grey;
    transition: 0.3s;
    outline: none;
    background-color: #eeeeee;
}

.send button:hover{
    background-color: #e0e0e0;
    transform: translateY(-3px);
    box-shadow: 0 10px 0 grey;
}

.send button:active{
    box-shadow: 0 5px 0 grey;
    transform: translateY(3px);
}

@media (max-width:990px){
    .kanan{
        top:40% ;
    }
    .kanan h1{
        font-size: 11rem;
        letter-spacing: -.5rem;
    }
    .name{
        display: none;
    }
    .alt{
        display: block;
    }
    .kiri{
        padding: .5rem;
        backdrop-filter: blur(10px);
        border-radius: 20px 20px 20px 20px;
        width: 200px;
        font-size: 1.8rem;
        top:55%;
        left:65%;
        transform: translate(-60%, -65%);
        z-index: 20;
    }
    .kiri:hover{
        box-shadow: 0 0 15px white;
      
    }
    .grid{
        display: grid;
        grid-template-columns: auto;
    }
    .card:nth-child(1), .card:nth-child(3){
        transform: none;
    }
    .card:nth-child(2){
        z-index: 1;
    }
    .card{
        width: 300px;
        height: 150px;
        background:linear-gradient(to bottom, #111, #333);
        border-radius: 1.5rem;
    }
    .card:hover{
    width: 300px;
    height: 150px;
        transform: scale(1.1) ;
         box-shadow: 0 0 15px rgb(191, 191, 191);
     }
     
     .language{
        width: 110px;
        height: 110px;
    }    
    .card1{
        width: 150px;
        height: 200px;
    }
    .image{
        width: 120px;
        height: 150px;
    }
    h3{
        font-size:1rem ;
    }
    .container{
        padding: .5rem;
        display: grid;
        grid-template-columns: auto auto;
    }
    .window{
        background-image: none;
        border-radius: 10px;
        background-position:none;
        background-size: none;
    }

    .window-body,.window-header, .window-footer{
        padding: .5rem;
        backdrop-filter: none;
    }
    .contacts{
        padding: 2rem;
    }
    .containers{
        width: 450px;
        height: 450px;
    }
    form{
        gap: .5rem;
    }
    .containers input {
        border-radius: 5px;
        padding: 1rem .5rem;
    }
    
    .containers input:checked {
        box-shadow: 0 2px 0 grey;
        transform: translateY(-2px);
    }
    
    .send button{
        margin-top: 10px;
        padding: 1rem 1rem;
        border-radius: 10px;
        box-shadow: 0 5px 0 grey;
    }
    .modal-content{
       
        width: 300px;
        gap: 0;
    }
    .details{
        font-size: .8rem;
        background-color: transparent;
        width: 250px !important;
        padding: .5rem;
    }
    .atas{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    .bawah{
        display: none;
    }
    .close{
        left: 85%;
    }
    .AskPhoto{
        width: 200px;
        height: 200px;
    }
}